---
layout: null
title: ม็อดไฮเทล
description: 🤣 ทำตามอารมณ์ ไม่มีอารมณ์ก็ไม่ทำ 🤣
ogimage: /assets/images/hytale_ogm.png
avatar: /assets/images/avatar-hytale.png
permalink: /hytale
---

<!DOCTYPE html>
<html class="theme-dark" lang="th">

{% include head.html %}

<body style="background: url('assets/images/background.jpg') no-repeat center center fixed; background-size: cover;">

  <div class="container">
    <div class="column">
      <main>

        <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
        <img class="avatar avatar--rounded" src="{{ '/assets/images/avatar-hytale.png' | relative_url }}"
          srcset="{{ '/assets/images/avatar-hytale.png' | relative_url }} 1x, {{ '/assets/images/avatar-hytale@2x.png' | relative_url }} 2x"
          alt="C2Z" width="128" height="128" fetchpriority="high">

        <!-- Replace with your name or brand -->
        <h1>ม็อดไฮเทล</h1>

        <!-- Add a short description about yourself or your brand -->
        <p>🤣 ทำตามอารมณ์ ไม่มีอารมณ์ก็ไม่ทำ 🤣</p>

        <!-- All your buttons go here -->
        <nav class="button-stack" aria-label="Links">

          <!-- Default -->
          <a class="button button-default" href="{{site.url}}" rel="noopener" role="button">
            <img class="icon" aria-hidden="true" src="assets/images/icon-new/back.svg" alt="Back Icon" />ย้อนกลับ</a>

          <!-- line -->
          <p class="line">
            <i class="fa-solid fa-language"></i> ม็อดภาษาไทย
          </p>

          <!-- แพ็กภาษาไทย -->
          <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/THLanguage-0.8.jar">
            <a class="button button-release sensitive-trigger" href="javascript:void(0)">
              ภาษาไทยอัปเดต 0.8</a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>ฟอนต์ไทย+แปลไทย</p>
                <p style="font-size: 2vb;">(อัปเดตล่าสุด 10/04/26)</p>
                <p style="color: brown;">ใช้ AI ในการแปล</p>
                <div>
                  <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                    target="_blank" rel="noopener" role="button">
                    <img class="icon" aria-hidden="true" src="assets/images/icons/youtube.svg"
                      alt="YouTube Logo" />วิธีติดตั้ง</a>
                </div>
                <button class="button button-sensitive sensitive-continue">
                  ดาวน์โหลดภาษาไทย
                </button>
              </div>
            </div>
          </div>

          <!-- แพ็กภาษาไทย -->
          <div class="slide-container"
            data-continue-url="{{site.url}}/download/hytale/THLanguage-0.8_Old_pre-release.zip">
            <a class="button button-pre-release sensitive-trigger" style="flex-wrap: wrap;" href="javascript:void(0)">
              ภาษาไทยอัปเดต 0.8<br><text style="color: rgb(0 255 245);">(ลงแบบทับไฟล์เกม)</text></a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>สำหรับคนที่ลงแบบใหม่แล้วมีปัญหา</p>
                <p style="color: rgb(255, 0, 0);">**ต้องลบเกมลงใหม่ทุกครั้งที่มีอัปเดต**</p>
                <div>
                  <a class="button button-sensitive-yt" href="https://www.youtube.com/watch?v=RaLs9FVWJ6k"
                    target="_blank" rel="noopener" role="button">
                    <img class="icon" aria-hidden="true" src="assets/images/icons/youtube.svg"
                      alt="YouTube Logo" />วิธีติดตั้ง (แบบเก่า)</a>
                </div>
                <div>
                  <a class="button button-sensitive-release"
                    href="{{site.url}}/download/hytale/THLanguage-0.8_Old_release.zip" target="_blank" rel="noopener"
                    role="button">
                    เวอร์ชั่น release</a>
                </div>
                <button class="button button-sensitive-pre-release sensitive-continue">
                  เวอร์ชั่น pre-release
                </button>
              </div>
            </div>
          </div>

          <!-- line -->
          <p class="line">
            <i class="fa-solid fa-font"></i> ม็อดไทยฟอนต์
          </p>

          <!-- แพ็กไทยฟอนต์ -->
          <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/Thai_font_fix-0.4.jar">
            <a class="button button-release sensitive-trigger" href="javascript:void(0)">
              ฟอนต์ไทยอัปเดต 0.4</a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>มีแค่ฟอนต์เท่านั้น</p>
                <p style="font-size: 2vb;">(อัปเดตล่าสุด 10/04/26)</p>
                <div>
                  <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                    target="_blank" rel="noopener" role="button">
                    <img class="icon" aria-hidden="true" src="assets/images/icons/youtube.svg"
                      alt="YouTube Logo" />วิธีติดตั้ง</a>
                </div>
                <button class="button button-sensitive sensitive-continue">
                  ดาวน์โหลดฟอนต์
                </button>
              </div>
            </div>
          </div>

          <!-- แพ็กไทยฟอนต์ -->
          <div class="slide-container" data-continue-url="{{site.url}}/download/hytale/THFont-0.4_Old_pre-release.zip">
            <a class="button button-pre-release sensitive-trigger" style="flex-wrap: wrap;" href="javascript:void(0)">
              ฟอนต์ไทยอัปเดต 0.4<br><text style="color: rgb(0 255 245);">(ลงแบบทับไฟล์เกม)</text></a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>สำหรับคนที่ลงแบบใหม่แล้วมีปัญหา</p>
                <p style="color: rgb(255, 0, 0);">**ต้องลบเกมลงใหม่ทุกครั้งที่มีอัปเดต**</p>
                <div>
                  <a class="button button-sensitive-yt" href="https://youtu.be/insZs3rPclo?si=Z39ENBII1etvD_jy"
                    target="_blank" rel="noopener" role="button">
                    <img class="icon" aria-hidden="true" src="assets/images/icons/youtube.svg"
                      alt="YouTube Logo" />วิธีติดตั้ง (แบบเก่า)</a>
                </div>
                <div>
                  <a class="button button-sensitive-release"
                    href="{{site.url}}/download/hytale/THFont-0.4_Old_release.zip" target="_blank" rel="noopener"
                    role="button">
                    เวอร์ชั่น release</a>
                </div>
                <button class="button button-sensitive-pre-release sensitive-continue">
                  เวอร์ชั่น pre-release
                </button>
              </div>
            </div>
          </div>

        </nav>

      </main>

      {% include footer.html %}

    </div>
  </div>

</body>

</html>