---
layout: null
description: รวมลิงค์โปรไฟล์โซเชียลมีเดียทั้งหมดของผม
ogimage: /assets/images/2rd_ogm.png
avatar: /assets/images/avatar.png
---

<!DOCTYPE html>
<html class="theme-dark" lang="th">

{% include head.html %}

<body style="background: url('assets/images/background.jpg') no-repeat center center fixed; background-size: cover;">

  <div class="container">
    <div class="column">
      <main>

        <!--
              By default, the Avatar is rounded. Use the following:
              - avatar--rounded: Automatically rounds the image
              - avatar--soft: Slightly rounds the image
              - avatar--none: Removes any rounding

              Be sure to replace the src with your own image path and update the alt text
            -->
        <img class="avatar avatar--rounded" src="{{ '/assets/images/avatar.png' | relative_url }}"
          srcset="{{ '/assets/images/avatar.png' | relative_url }} 1x, {{ '/assets/images/avatar@2x.png' | relative_url }} 2x"
          alt="C2Z" width="128" height="128" fetchpriority="high">

        <!-- Replace with your name or brand -->
        <h1>2RD Channel</h1>

        <!-- Add a short description about yourself or your brand -->
        <p>รวมลิงค์โปรไฟล์โซเชียลมีเดียทั้งหมดของผม</p>

        <!-- All your buttons go here -->
        <nav class="button-stack" aria-label="Links">

          <!-- YouTube -->
          <a class="button button-yt" href="https://www.youtube.com/@2RD.Channel" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="assets/images/icons/youtube.svg"
              alt="YouTube Logo" />YouTube</a>

          <!-- TikTok -->
          <a class="button button-tiktok" href="https://www.tiktok.com/@2rd.channel" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="assets/images/icons/tiktok.svg"
              alt="TikTok Logo" />TikTok</a>

          <!-- Facebook -->
          <a class="button button-faceb" href="https://www.facebook.com/2RD.Channel" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="assets/images/icons/facebook.svg"
              alt="Facebook Logo" />Facebook</a>

          <!-- Bluesky -->
          <a class="button button-bluesky" href="https://bsky.app/profile/2rd.top" target="_blank" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="assets/images/icons/bluesky.svg"
              alt="Bluesky Logo" />Bluesky</a>

          <!-- Discord -->
          <a class="button button-discord" href="https://discord.2rd.top" target="_top" rel="noopener"
            role="button"><img class="icon" aria-hidden="true" src="assets/images/icons/discord.svg"
              alt="Discord Logo" />Discord</a>

          <p class="line"><i class="fa-solid fa-puzzle-piece"></i> ดาวน์โหลดม็อด</p>
          <!-- ม็อดมายคราฟ -->
          <a class="button button-ม็อดมายคราฟ" href="/mcpe" target="_top" rel="noopener" role="button"><img class="icon"
              aria-hidden="true" src="assets/images/icon-new/minecraft.svg" alt="ม็อดมายคราฟ icon" />Minecraft
            Bedrock</a>

          <!-- Hytale -->
          <a class="button button-hytale" href="/hytale" target="_top" rel="noopener" role="button"><img class="icon"
              aria-hidden="true" src="assets/images/icon-new/Hytale.png" alt="Hytale icon">Hytale</a>

          <!-- Planet Coaster -->
          <div class="slide-container" data-continue-url="{{site.url}}/download/other/Thai_by_2RD_D04.03.22_T02.48.zip">
            <a class="button button-planet-coaster sensitive-trigger" href="javascript:void(0)" download>
              <img class="icon" aria-hidden="true" src="assets/images/icon-new/Planet_Coaster.png"
                alt="Planet Coaster icon" />Planet Coaster</a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>ภาษาไทยเกม แพลเน็ตโคสเตอร์</p>
                <div>
                  <a class="button button-sensitive-yt" href="planet_coaster/mods/guide/2021/12/17/PC-Thai.html"
                    target="_top" rel="noopener" role="button">วิธีติดตั่งภาษาไทย</a>
                </div>
                <button class="button button-sensitive sensitive-continue">
                  ดาวน์โหลด
                </button>
              </div>
            </div>
          </div>

          <!-- Crysis 2 Remastered -->
          <div class="slide-container"
            data-continue-url="https://drive.google.com/file/d/1TVYa-4JLiuKxJUTRV-etg0LU2VM6rYOU/view">
            <a class="button button-crysis-2-remastered sensitive-trigger" href="javascript:void(0)" download>
              <img class="icon" aria-hidden="true" src="assets/images/icon-new/Crysis2Remastered.png"
                alt="Crysis 2 Remastered icon" />
              Crysis 2 Remastered</a>
            <div class="sensitive-panel">
              <div class="sensitive-panel__content">
                <p>ภาษาไทยเกม ครายซิส 2 รีมาสเตอร์</p>
                <div>
                  <a class="button button-sensitive-yt"
                    href="crysis_2_remastered/mods/guide/2022/11/19/Crysis2-Thai.html" target="_top"
                    rel="noopener" role="button">วิธีติดตั่งภาษาไทย</a>
                </div>
                <button class="button button-sensitive sensitive-continue">
                  ดาวน์โหลด
                </button>
              </div>
            </div>
          </div>

          <p class="line"><i class="fa-solid fa-address-card"></i> ติดต่อ</p>

          <!-- Generic Email -->
          <a class="button button-email-2" href="mailto:{{site.email}}?subject=สวัสดีครับ!" target="_blank"
            rel="noopener" role="button"><img class="icon" aria-hidden="true"
              src="assets/images/icons/generic-email.svg" alt="Email Icon" />{{site.email}}</a>

        </nav>

      </main>

      {% include footer.html %}

    </div>
  </div>

</body>

</html>