<div class="container">
  <div class="column">
    <img class="avatar avatar--soft" src="{{site.url}}/images/avatar-mods.png"
      srcset="{{site.url}}/images/avatar-mods@2x.png" alt="{{site.username}}" />
    <h1>
      <div>{{site.mcpe_title}}</div>
    </h1>
    <p>{{site.mcpe_description}}</p>

    <!-- All your buttons go here -->
    <div class="button-stack" role="navigation">
      <!-- Default -->
      <a class="button button-default" href="{{site.url}}" rel="noopener" role="button">
        <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/back.svg" alt="Back Icon" />ย้อนกลับ</a>

      <p class="line">
        <i class="fa-solid fa-closed-captioning"></i> ภาษาไทยของเกมหลัก
      </p>

      <!-- รีซอร์ซแพ็กภาษาไทย -->
      <div class="slide-container" data-continue-url="https://github.com/MineGarp/THLanguage_Bedrock">
        <a class="button button-THLanguage sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/THLanguage.png"
            alt="รีซอร์ซแพ็กภาษาไทย icon" />รีซอร์ซแพ็กภาษาไทย</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p style="color: rgb(238, 255, 0);">แปลแค่ตัวเกมหลักเท่านั้น ไม่เกี่ยวกับแอดออน</p>
            <p>
              สร้างโดย:
              <a href="https://www.facebook.com/MineGarp.PED/" target="_blank" rel="noopener">มายก๊าบดอทเป็ด</a>
            </p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              <img class="icon" aria-hidden="true" src="images/icons/github.svg" alt="GitHub Logo" />
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <!-- รีซอร์ซแพ็กไทยฟอนต์ -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/Thai_Font_0.2.mcpack">
        <a class="button button-thai-font sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/font.svg"
            alt="Thai Font icon" />รีซอร์ซแพ็กไทยฟอนต์</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p style="color: rgb(238, 255, 0);">มีแค่ฟอนต์เท่านั้น</p>
            <p style="color: rgb(238, 255, 0);">สำหรับคนที่ไม่อยากลงภาษาไทย อยากแค่แก้ฟอนต์เฉยๆ</p>
            <p>
              แก้ไขฟอนต์โดย <a href="https://github.com/NotSus555/THLanguage_Bedrock" target="_blank"
                rel="noopener">ImNotSus555</a>
            </p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/7uriQaqQl5w?si=Ao_j4amk2Cw9eI7J"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้รีซอร์ซแพ็ก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <p class="line">
        <i class="fa-solid fa-earth-americas"></i> ภาษาไทยของโลก
      </p>

      <!-- RLCraft -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/RLCraft 1.3 - Honeyfrost_TH.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/RLCraft_TH.png"
            alt="Download icon" />RLCraft v1.3</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ เวอร์ชั่น 1.3.0 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้งานในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <!-- Better on Bedrock -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/BoB_THLanguage_0.2.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/BoB_TH.png" alt="Download icon" />
          Better on Bedrock v0.2</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ เวอร์ชั่น 1.2.0 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้งานในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <!-- RealismCraft -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/RealismCraft_THLanguage_0.3.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/RealismCraft_TH.png"
            alt="Download icon" />RealismCraft v0.3</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <p>ใช้งานได้กับ เวอร์ชั่น 2.3 ขึ้นไป</p>
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้งานในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <!-- Superman -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/Superman_THLanguage_0.1.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/Superman_TH.png"
            alt="Download icon" />Superman v0.1</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้งานในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>

      <!-- Stranger Things -->
      <div class="slide-container" data-continue-url="{{site.url}}/download/minecraft/ST_THLanguage_0.1.mcpack">
        <a class="button button-download sensitive-trigger" href="javascript:void(0)">
          <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/ST_TH.png" alt="Download icon" />
          Stranger Things v0.1</a>
        <div class="sensitive-panel">
          <div class="sensitive-panel__content">
            <div>
              <a class="button button-sensitive-yt" href="https://youtu.be/HhJ7skYD1p0?si=2Pq5WjlyrldaeQkv"
                target="_blank" rel="noopener" role="button">
                <img class="icon" aria-hidden="true" src="{{site.url}}/images/icons/youtube.svg"
                  alt="YouTube Logo" />วิธีเปิดใช้งานในโลก</a>
            </div>
            <button class="button button-sensitive sensitive-continue">
              ดาวน์โหลด
            </button>
          </div>
        </div>
      </div>
      
    </div>

    <footer>
      {{ site.footer | replace: 'URL_PLACEHOLDER', site.url | replace:
      'USER_PLACEHOLDER', site.username }}
    </footer>
  </div>
</div>